
html{
    overflow: hidden;
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  .container {
    width: 60vw;
    height: 70vh;
    background: rgba(20,20,20,0.5);
    margin:5% auto;
    border-radius: 10px;
    border: 10px solid rgb(77, 20, 20);
    position: relative;
    cursor: pointer;
  }
  .mainText{
    pointer-events: none;
    font-family: 'Roboto Condensed';
    color: white;
    text-align: center;
    font-size: 250%;
    /* margin: 20vh 18vw; */
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    font-size: 30px;
    color: rgb(6, 92, 92);
    margin: 2vw;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
   max-height: 300;
  }
img#getImage {
    border: 4px solid #a1a1a1;
    transition: all .2s ease-in-out; 
}

div {
    text-align: center;
}

input[type=button] {
    background-color: #04AA6D;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 16px 32px;
    text-decoration: none;
    /* margin: 4px 2px; */
    cursor: pointer;
}

input[type=button]:hover {
    background-color: rgba(62, 204, 197, 0.8);
}

#spotLight {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: linear-gradient(
    rgba(255, 0, 0, 0),
    rgba(255, 255, 255, 0.952)
  );
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.1s ease;
}
